* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.ter-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    /* z-index: 1; */
}

.ter-navbar .nav-link {
    border-bottom: 1px solid transparent;
}

.ter-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
    transition: padding-bottom 0.4s ease-in-out, border-bottom 0.3s ease;
}

.btn-order {
    border-color: var(--bs-teal);
    color: var(--bs-teal);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-teal);
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/img/banniere2.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    height: 100vh;
}

img {
    width: 30vw;
    height: 45vh;
}

.card img {
    height: 300px;
    object-fit: cover;
    object-position: 100% 75%;
}


.fond {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/plat-crevettes.jpg) center center fixed no-repeat;
    background-size: cover;
}

#formulaire {

    h2,
    label,
    p {
        color: rgb(28, 28, 28);
    }
}

.bg-success {
    background-color: rgba(var(--sirène), var(--bs-bg-opacity)) !important;
}

p {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
}

.carousel-item img {
    object-fit: cover;
}

.hautCarr {
    height: 100vh;
}

#nos-varietes {

    h5,
    p {
        color: #fff;
    }
}